.collection_item{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    width: 300px;
}

.image{

    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;

}

.collectio-footer{

    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.name{


   
    width: 95%;


}

.price{



    width: 5%;

}