.header{

    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;


}

.logo{

    widows: 90%;
    margin-left: 10px;

}


.options{


width: 20%;
display: flex;
justify-content:flex-end;

}

.option{

    width: 30%;
    text-decoration: none;
    color: black;
    cursor: pointer;
}